@font-face {
    font-family: 'Linjamanka';
    src: url('linjalipamanka-normal.woff') format('woff');
}
@font-face {
    font-family: 'Fairfax';
    src: url('FairfaxPona.ttf');
}
@font-face {
    font-family: 'Fairfax HD';
    src: url('FairfaxPonaHD.woff');
}
@font-face {
    font-family: 'nasin nanpa';
    src: url('nasin-nanpa.otf');
}