:root {
    color-scheme: light dark;
    --background-color: #1a535c;
    --text-area-background-color: light-dark(#f7fff7, #172a2e);
    --text-color: light-dark(#010303, #f7fff7);
    --button-color: light-dark(#4ecdc4, #349090);
    --button-hover-color: light-dark(#7cece5, #47a8a8);
    --button-text-color: var(--text-color);
    --secondary-button-color: light-dark(#349090, #4ecdc4);
    --secondary-button-hover-color: light-dark(#47a8a8, #7cece5);
    --secondary-button-text-color: #f7fff7;
    --toolbar-button-color: light-dark(#ecf3ec, #324b4b);
    --toolbar-button-hover-color: light-dark(#f7fff7, #426161);
    --red-accent-color: #ff6b6b;
    --yellow-accent-color: #ffe66d;
    
    --loje: #ff6b6b;
    --jelo: #ffe66d;
    --laso: #4ecdc4;
    --pimeja: #010303;
    --walo: #f7fff7;
    
    --font-size: 25px;
    --input-text-color: var(--text-color);
    --input-highlight-color: var(--text-color);
}
html {
    overflow: hidden;
    font-family: 'Linjamanka';
}
body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header {
    width: 100%;
    padding-top:5px;
    padding-left:5px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    flex-shrink: 0;
    > button {
        background-color: var(--button-color);
        color: var(--button-text-color); 
        font-size: 25px;
        border-radius: 50%;
        padding-left:5.5px;
        margin-top: 5px;
        margin-bottom: 5px;
        aspect-ratio: 1 / 1;
        :first-child {
            background-color: var(--secondary-button-color);
            color: var(--secondary-button-text-color); 
        }
        &:hover {
            background-color: var(--button-hover-color);
            cursor: pointer;
        }
    }
}
button {
    border: none;
    border-radius: 10px;
    font-family: inherit;
}
.toolbar {
    background-color: var(--text-area-background-color);
    padding: 5px;
    border-bottom: 2px solid var(--secondary-button-color);
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    min-height:5ex;
    :first-child {
        margin-left:9em;
    }
    button, select {
        padding: 5px;
        flex-shrink: 0;
        border-radius: 0px;
        font-size: 20px;
        background-color: var(--toolbar-button-color);
        margin-inline-end: 5px;
        &:hover {
            background-color: var(--toolbar-button-hover-color);
            cursor: pointer;
        }
    }
    > span {
        flex-shrink: 0;
        vertical-align: center;
        font-size: 20px;
        padding-block: 6px;
        padding-inline: 6px;
        margin-inline-end: 5px;
    }
}
/* .dropdown-container {
    width: 100%;
}
.dropdown {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    > button:hover {
        background-color: var(--secondary-button-hover-color);
        color: var(--secondary-button-text-color);
    }
    &:hover > button {
        background-color: var(--secondary-button-hover-color);
        color: var(--secondary-button-text-color);
    }
    &:hover .dropdown-content {
        display: block;
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    button {
        display: block;
        width: 100%;
    }
} */
select {
    width:50px;
    appearance: none;
    font-family: inherit;
    border: none;
    background-color: var(--toolbar-button-color);
}
option {
    appearance: none;
    font-family: inherit;
}
.textarea {
    background-color: var(--text-area-background-color);
    padding: 10px;
    flex-grow:1;
    overflow-y: auto;
    font-size: var(--font-size);
    touch-action: none;
    span {
        touch-action: none;
    }
}
.tab {
    background-color: var(--button-color);
    color: var(--button-text-color);
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    --tabRadius: 12px;
    padding-top: 5px;
    padding-left: var(--tabRadius);
    padding-right: var(--tabRadius);
    align-self: stretch;
    filter: drop-shadow(0 0 4px lch(0% 0 0 / 0.2));
    transform: translate(0, 1px);

    &:hover {
        background-color: var(--button-hover-color);
        cursor: pointer;
    }
    :last-child {/*TODO: FIX TAB MARGINS AAAAAAHHAAAAAAAAAA*/
        padding-right: calc(var(--tabRadius));
    }
    &:nth-last-child(2) {
        margin-inline-end: calc(var(--tabRadius) * 1);
    }
    &:not(:nth-child(2)) {
        margin-inline-start: calc(var(--tabRadius) * -2);
    }
    &.before_current_tab {
        border-top-left-radius: var(--tabRadius);
        background-color: var(--secondary-button-color);
        color: var(--secondary-button-text-color);
        &:first-child {
            margin-left: calc(var(--tabRadius) * 2);
        }
        &:nth-child(2) {
            margin-inline-start: calc(var(--tabRadius) * 1);
        }
    }
    &#current_tab {
        :first-child {
            padding-left: calc(var(--tabRadius));
        }
        clip-path: shape(
            from bottom left,
            curve to var(--tabRadius) calc(100% - var(--tabRadius)) with
            var(--tabRadius) 100%,
            vline to var(--tabRadius),
            curve to calc(var(--tabRadius) * 2) 0 with var(--tabRadius) 0,
            hline to calc(100% - calc(var(--tabRadius) * 2)),
            curve to calc(100% - var(--tabRadius)) var(--tabRadius) with
            calc(100% - var(--tabRadius)) 0,
            vline to calc(100% - var(--tabRadius)),
            curve to 100% 100% with calc(100% - var(--tabRadius)) 100%
        );
    }
    &.after_current_tab {
        border-top-right-radius: var(--tabRadius);
        margin-right: var(--tabRadius);
    }
    button {
        font-size: 25px;
        background: none;
        display: inline-block;
        justify-content: center;
        color: inherit;
    }
    .tab_erase {
        margin-right: 5px;
    }
    .tab_erase:hover {
        color: var(--red-accent-color);
        cursor: pointer;
    }
}
#current_tab {
    background-color: var(--text-area-background-color);
    z-index: 100;
    &:hover {
        cursor: auto;
    }
    color: var(--text-color);
    .tab_name:hover {
        cursor: text;
    }
}
#keyboard_container {
    background-color: var(--background-color);
    flex-basis: 25%;
    flex-shrink: 0;
    padding:10px 5px 20px 5px;
    display:flex;
    flex-direction: column;
}
.keyboard {
    flex-grow:1;
}
.keyrow {
    flex-basis: 20%;
    flex-grow: 0;
}
.multirow .keyrow {
    flex-grow: 1;
}
.key {
    background-color: var(--button-color);
    color: var(--button-text-color);
    margin: 2px;
    &:hover {
        background-color: var(--button-hover-color);
        cursor: pointer;
    }
}
.function_key {
    background-color: var(--secondary-button-color);
    color: #f7fff7;
    &:hover {
        background-color: var(--secondary-button-hover-color);
        cursor: pointer;
    }
}
cursor::after {
    display: block;
    position:relative;
    content: '';
    height: var(--font-size);
    border-left: calc(var(--font-size) * 0.1) solid var(--input-text-color);
    animation: blink 1s linear infinite;
    z-index: 100;
}
@keyframes blink {
    0%   { visibility: visible; }
    49%  { visibility: visible; }
    50%  { visibility: hidden; }
    100% { visibility: hidden; }
}
.nimi {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 2ex;
    height:2ex;
}
.selected {
    background-color: var(--yellow-accent-color) !important;
}
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }